.wrap{
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.profile img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #fff;
}
.profile h1{
    text-align: center;
    font-family: Candara;
    font-weight: normal;
}